@page "/"

<!-- Menu  -->
<h1>Our selection of pizzas</h1>
@foreach (var pizza in State.Menu.Pizzas)
{
    <div class="row">
        <div class="col">
            @pizza.Name
        </div>
        <div class="col text-right">
            @($"{pizza.Price:0.00}")
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="@SpicinessImage(pizza.Spiciness)" height="50" alt="@pizza.Spiciness">
        </div>
        <div class="col">
            <button class="btn btn-success pl-4 pr-4" @onclick="@(() => AddToBasket(pizza))">
                Add
            </button>
        </div>
    </div>
}
<!-- End Menu -->

<!-- Shopping Basket -->
@if (State.Basket.Orders.Any())
{
    <h1>Your current order</h1>
    @foreach (var (pizza, pos) in State.Basket.Orders.Select((id, pos) => (State.Menu.GetPizza(id), pos)))
    {
        <div class="row mb-2">
            <div class="col">
                @pizza.Name
            </div>
            <div class="col text-right">
                @($"{pizza.Price:0.00}")
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <button class="btn btn-danger" @onclick="(() => RemoveFromBasket(pos))">Remove</button>
            </div>
        </div>
    }
    <div class="row">
        <div class="col"></div>
        <div class="col"><hr /></div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
    <div class="row">
        <div class="col"> Total:</div>
        <div class="col text-right font-weight-bold">@($"{State.TotalPrice:0.00}")</div>
        <div class="col"> </div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
}
<!-- End Shopping Basket -->
<!-- Customer Entry -->
<h1 class="mt-2 mb-2">Please enter your details below</h1>
<EditForm Model="@State.Basket.Customer" OnValidSubmit="PlaceOrder">
    <DataAnnotationsValidator />
    <fieldset>
        <div class="row mb-2">
            <label class="col-2" for="name">Name:</label>
            <InputText class="form-control col-6" @bind-Value="@State.Basket.Customer.Name" />
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <ValidationMessage For="@(() => State.Basket.Customer.Name)" />
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-2" for="street">Street:</label>
            <InputText class="form-control col-6" @bind-Value="@State.Basket.Customer.Street" />
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <ValidationMessage For="@(() => State.Basket.Customer.Street)" />
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-2" for="city">City:</label>
            <InputText class="form-control col-6" @bind-Value="@State.Basket.Customer.City" />
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <ValidationMessage For="@(() => State.Basket.Customer.City)" />
            </div>
        </div>
        <div class="row mb-2">
            <button class="mx-auto w-25 btn btn-success" @onclick="PlaceOrder">Checkout</button>
        </div>
    </fieldset>
</EditForm>
<!-- End Customer Entry -->
@State.ToJson();
@code{
    private State State { get; } = new();
    protected override void OnInitialized()
    {
        State.Menu.Add(new Pizza(1, "Pizza One", 10.9M, Spiciness.Spicy));
        State.Menu.Add(new Pizza(2, "Pizza Two", 20.8M, Spiciness.Hot));
        State.Menu.Add(new Pizza(3, "Pizza Three", 220.12M, Spiciness.None));
    }
    private string SpicinessImage(Spiciness spiciness) => $"images/{spiciness.ToString().ToLower()}.png";
    private void AddToBasket(Pizza pizza) => State.Basket.Add(pizza.Id);
    private void RemoveFromBasket(int pos) => State.Basket.RemoveAt(pos);
    private void PlaceOrder()
    {
        Console.WriteLine("Hello world");
    }
}
